:root {
    --buttons-bg:#ebebeb;
    --accent-grey: rgb(159, 159, 159);
    --emoji-size: 3rem;
}

body {
    margin: 0;
}

/* flex */

.row {
    display: flex;
}

.align-items-center {
    align-items: center;
}

/* classes */

.ghost-sticker {
    position: absolute;
    pointer-events: none;
    font-size: var(--emoji-size);
    opacity: 0.67;
}
  
.sticker {
    position: absolute;
    font-size: var(--emoji-size);
}

/* specific elements */

.canvas {
    height: 80vh;
    width: 100%;
}

.buttons-bar {
    height: 19.75vh;
    width: 100%;
    background-color: var(--buttons-bg);
    border-top: ridge 0.1rem var(--accent-grey);
}

.button {
    width: 5rem;
    height: 5rem;
    border: solid 0.1rem var(--accent-grey);
    border-radius: 0.25rem;
    font-size: 3rem;
    line-height: 0;
}

.button:first-child {
    margin-left: 2rem;
}

.circle {
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    border: 0.2rem solid black;
    border-radius: 50%;
    pointer-events: none;
}
  